name: Build and Sign

on:
  workflow_dispatch:

env:
  ORG_ID: fe33c075-e317-4587-9ecc-0495c44c45e0
  SIGNIN_POLICY_SLUG: e2e-test-sp
  PROJECT_SLUG: e2e-test-project
  CONNECTOR_URL: https://x8qqnrvl-44353.euw.devtunnels.ms
  ARTIFACT_CONFIGURATION_SLUG: zip

jobs:
  build-and-sign:
    permissions:
      actions: read  # get run data
      contents: read  # do checkout

    runs-on: windows-latest

    steps:
    
    - name: checkout
      uses: actions/checkout@v3

    # - name: Upload the artifcat file
    #   id: upload-artifact
    #   uses: actions/upload-artifact@v4
    #   with: 
    #     name: original-artifact
    #     path: "./files/hello-world.exe"

    # - name: Submit signing request
    #   uses: signpath/github-action-submit-signing-request@main
    #   with:
    #     connector-url: '${{ env.CONNECTOR_URL }}'
    #     api-token: '${{ secrets.SIGN_PATH_API_TOKEN }}'
    #     organization-id: '${{ env.ORG_ID }}'
    #     project-slug: '${{ env.PROJECT_SLUG }}'
    #     signing-policy-slug: '${{ env.SIGNIN_POLICY_SLUG }}'
    #     artifact-configuration-slug: '${{ env.ARTIFACT_CONFIGURATION_SLUG }}'
    #      github-artifact-id: '${{steps.upload-artifact.outputs.artifact-id}}'
    #     wait-for-completion: true
    #     output-artifact-directory: 'org/content'
